/////
//
// Modular Scale
//
/////

@function modular-scale($number, $ratio, $exponent) {

	$value: $number;

	@if $exponent > 0 {

		@for $i from 1 through $exponent {
			$value: $value * $ratio;
		}

	} @else if $exponent < 0 {

		@for $i from 1 through -$exponent {
			$value: $value / $ratio;
		}

	}

	@return $value;

}