/////
//
// Flex Vertical
//
/////

.flex-vertical {
	display: flex;
	flex-direction: column;
	height: 100%;

	@include ie {
		display: block;
	}

	&__content {
		flex: 1 0 auto;
	}

	&__footer {
		margin-top: auto;
		flex: 0 0 auto;
	}

}