/////
//
// Horizontal Rule (<hr>)
//
/////

.hr {
	text-align: left;

	&--alpha {
		border-bottom-color: $color-alpha;
	}

	&--40 {
		max-width: 40%;
	}

	&--80 {
		max-width: 80%;
	}

	&--center {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

}