/////
//
// Position Helper Classes
//
/////


@if $use-helper-position-styles == true {

    .position {

        &--relative {
            position: relative;
        }

        &--absolute {
            position: absolute;
        }

        &--static {
            position: static;
        }

        &--fixed {
            position: fixed;
        }

    }

}

