//
// Custom Radio Buttons and Checkboxes
//

/*
	<input class="radio" id="weeks-26" type="radio" name="period" value="26" checked="checked" />
	<label class="radio__label" for="weeks-26">26 Weeks</label>

	<input class="radio" id="weeks-26" type="radio" name="period" value="26" checked="checked" />
	<label class="radio__label radio__label--large" for="weeks-26">26 Weeks</label>
*/

@if $use-custom-radio-and-checkboxes == true {

	.checkbox,
	.radio {
		position: absolute;
		left: -9999px;
	}

    .checkbox__label,
	.radio__label {
		display: block;
		position: relative;
		margin: 10px 0;
		padding-left: 35px;
		cursor: pointer;
	}

    .checkbox__label:before,
    .checkbox__label:after,
    .radio__label:before,
    .radio__label:after {
		content: '';
        top: 2px;
		position: absolute;
		left: 0;
	}

	.radio + .radio__label:before,
	.radio + .radio__label:after {
		border-radius: 50%;
        top: $half-spacing-unit / 4;
	}

    .checkbox__label:before,
	.radio__label:before {
		display: block;
		width: 20px;
		height: 20px;
		border: 2px solid $color-form-highlight;  
	}

    input:focus + .checkbox__label:before,
	input:focus + .radio__label:before {
		border-color: $color-form-highlight;
	}

    .checkbox__label:after,
	.radio__label:after {
		display: none;
		width: 12px;
		height: 12px;
		margin: 4px;
		background-color: $color-form-highlight;
	}
    
    input:checked + .checkbox__label:after,
    input:checked + .radio__label:after {
		display: block;
	}

}