/////
//
// Accordion
//
/////

@if $use-accordions == true {

	$accordion-text-color: $color-base-text;
	$accordion-background-color: $color-border;

	$accordion-text-color--active: white;
	$accordion-background-color--active: $color-alpha;

	.accordion {
		margin-bottom: $base-spacing-unit;

		&__title {
			position: relative;
			padding: $base-spacing-unit * 0.75;
			padding-right: $base-spacing-unit * 2;
			color: $accordion-text-color;
			background-color: $accordion-background-color;
			cursor: pointer;
			transition: all 150ms;

			.svg {
				position: absolute;
				right: $base-spacing-unit * 0.75;
				top: 50%;
				transform: translateY(-50%) rotate(-90deg);
				fill: $accordion-text-color;
				transition: transform 250ms;
				max-width: $base-spacing-unit;
				max-height: $base-spacing-unit;
			}

			&.is-active {
				background-color: $accordion-background-color--active;
				color: $accordion-text-color--active;

				.svg {
					transform: translateY(-50%) rotate(90deg);
					fill: $accordion-text-color--active;
				}

			}

		}

		&__content {
			border: 1px solid $accordion-background-color;
			padding: $base-spacing-unit * 0.75;

			p:last-of-type {
				margin-bottom: 0;
			}

		}

	}

}