/////
//
// Webiste Notice - To be placed at the top of the header.
// Displays an error message when Javascript is turned off
// or when the browser is IE9 or earlier.
//
// <noscript>
//     <div class="website-notice">
//         <p>You currently have JavaScript turned off, for the best experience please turn JavaScript on or visit the website using a <a href="http://outdatedbrowser.com/">modern web browser</a>.</p>
//     </div>
// </noscript>
//
// <!--[if lte IE 9 ]>
//     <div class="website-notice">
//         <p>You are using an outdated browser, for the best experience please visit the website using a <a href="http://outdatedbrowser.com/">modern web browser</a>.</p>
//     </div>
// <![endif]-->
//
/////

.website-notice {
	background: $color-error;
	width: 100%;
	padding: $base-spacing-unit;
	color: #fff;
	text-align: center;
	z-index: 50;

	p {
		margin: 0;
	}

	a {
		color: white;
	}

}