/////
//
// Page Layout
//
/////

@if $use-page-layout == true {

	$page-breakpoint: $base-spacing-unit * 30;

	.page-layout {

		@media screen and (min-width: $page-breakpoint) {

			display: inline-block;

			@supports(display: flex) {
				display: flex;
			}

			&__main-container {
				@include flex(0, 1, percentage(4.5/7));
			}

			&__sidebar-container {
				@include flex(1, 0, percentage(2.5/7));
			}

			// Padding
			& > *:nth-child(1) {
				padding-right: $half-spacing-unit;
			}

			& > *:nth-child(2) {
				padding-left: $half-spacing-unit;
			}

		}

	}

	.page-layout--three {

		.page-layout {

			@media screen and (min-width: $page-breakpoint) {

				&__main-container {
					@include flex(0, 1, percentage(4/7));
				}

				&__sidebar-container {
					@include flex(1, 0, percentage(1.5/7));
				}

			}

		}

		@media screen and (min-width: $page-breakpoint) {

			// Padding
			& > *:nth-child(2) {
				padding-right: $half-spacing-unit;
			}

			& > *:nth-child(3) {
				padding-left: $half-spacing-unit;
			}

		}

	}

}