/////
//
// Fonts and Text Settings
//
/////


//
// Font Families
//

	$font-family-alpha:				'Open Sans', sans-serif;		// Base/default font-family
	$font-family-bravo:				'Libre Baskerville', serif;


//
// Modular Scale
// The modular scale element is used to calculate most of the units used in the boilerplate
// for more information about applying modular scale see http://srt.lt/y0Y2Em.
// Modular scale calculator - http://srt.lt/S9rR.
//

	$modular-scale: 			1.618;								// Golden Ratio
	$modular-scale-two:			1.125;								// Major Second 8:9


//
// Base font-sizes and line-height
//

	$base-font-size:    			16px !default;
	$base-line-height:  			$modular-scale !default;


//
// Calculations for text and font defaults
//

	$base-spacing-unit: 			px-to-rem(modular-scale($base-font-size, $modular-scale, 1)) !default;
	//@error $base-spacing-unit;
	$half-spacing-unit: 			$base-spacing-unit / 2 !default;

