/////
//
// Global Properties
// Other variables can be set defaults for here;
//
/////

	$border-radius: 			5px;								// Default border-radius
	$text-shadow: 				0 1px 1px rgba(0,0,0,.3);			// Default text-shadow
	$box-shadow:				none;								// Default box-shadow