//
// Modules - Settings
// Most module CSS carries no style but enough to make the element fuction correctly
// it is up to you to add your own styles with your own SCSS files theme directory
//

    //
    // Media Element
    //
    // <div class="media">
    //     <div class="media__img"></div>
    //     <div class="media__body"></div>
    // </div>
    //

        $use-media-object: true;


    //
	// Responsive Video
    //
    // <div class="video-container">
	//     <iframe src="https://www.youtube.com/embed/p5-gsoCb-oU" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
	// </div>
    //

        $use-respsonsive-video: false;


    //
    // Responsive Maps
    //
    // <div class="map-container">
	//     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4650.67122509174!2d-1.4387095308307274!3d54.35105020104463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ebc90958c8c31%3A0x1380b98e166a5a42!2sGale+and+Phillipson%2C+Financial+Adviser%2C+Independent+Financial+Advice!5e0!3m2!1sen!2suk!4v1433236512889" width="800" height="600" frameborder="0" style="border:0"></iframe>
	// </div>
    //

        $use-respsonsive-maps: false;


    //
    // customradio Checkbox and Raio Buttons
    //

        $use-custom-radio-and-checkboxes: false;
