/////
//
// Flex Mixin - Provide support all the way back to IE8
//
/////

@mixin flex($flex-grow, $flex-shrink, $flex-basis) {

	display: inline-block;
	width: $flex-basis;

	@supports(display: flex) {
		flex: $flex-grow $flex-shrink $flex-basis;
		width: auto;
	}

}