/////
//
// Responsive iframe
//
/////

@mixin responsive_iframe($width, $height) {
    padding-bottom: ratio($width, $height);
    position: relative;
    height: 0;
    overflow: hidden;

	iframe {
		position: absolute;
	    top:0;
	    left: 0;
	    width: 100% !important;
	    height: 100%;
	}

}