/////
//
// Mixin - Retina Images
//
// Retina PNG fallback
// this mixin requires you to create 2 versions of each icon/image
// but it is worth it in the end.
//
// The variables allow you to change the; image-path, fallback-extension and retina-suffix.
//
// Using the default values the following files will be required in a folder
// named images located one folder up (../images) from the compiled css in
// the file tree;
//
// logo.png, logo@2x.png
//
// @include background-retina-image('logo');
//
/////

$retina-image-path: '../images' !default;
$retina-extension: 'png' !default;
$retina-retina-suffix: '@2x' !default;

@mixin background-retina-image($name, $size) {

    background-image: url(#{$retina-image-path}/#{$name}.#{$retina-extension});
    background-repeat: no-repeat;

    @if($size) {
        background-size: $size;
    }

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-device-pixel-ratio: 1.5) {

      		background-image: url(#{$retina-image-path}/#{$name}#{$retina-retina-suffix}.#{$retina-extension});

    }

}