/////
//
// Rhythm
// maintain vertical rhythm
//
/////

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre {
    margin-bottom: $base-spacing-unit;
}

// hr elements - default margin to keep rhythm
hr {
    margin-bottom: $base-spacing-unit;
}

// indentation for elements which require it
ul,ol,dd{
    margin-left: $base-spacing-unit;
}